.project {
  padding-left: 160px;

  margin-left: 180px;
  margin: 50px 0px;
}
.project hr {
  color: green;
  width: 400px;

  margin: 0 auto;
}

.project h2 {
  color: green;
}
.project p {
}
.cardboot {
  margin-left: 20px;
  box-shadow: 10px 0px 5px #ccc;
}
.fullstack {
  width: fit-content;
  margin-left: 20px;
  border: none;
  background-color: goldenrod;
  border-radius: 10px;

  padding: 8px 5px;
  position: relative;
  top: 18px;
  left: 16px;
  z-index: 1;
  box-shadow: 5px 5px 5px #ccc;
}
a {
  text-decoration: none;
  background-color: green;
  color: white;
  width: fit-content;
  border-radius: 8px;
  padding: 10px 30px;
}
.cont {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 768px) {
  .project {
    padding-left: 10px;
    margin-left: 0px;
  }

  .project hr {
    width: 100px;
  }
  .need {
    margin-right: 50px;
  }

  .need1 {
    margin-left: 90px;
  }
  p {
    font-size: 30px;
  }
}
