.education {
  padding-left: 160px;

  margin: 50px 0px;
}
.education hr {
  color: green;
  width: 400px;

  margin: 0 auto;
}

.education h2 {
  color: green;
}
@media (max-width: 768px) {
  .education {
    padding-left: 0;
  }
}
